@import 'mixins.scss';


#monster-planner {
  padding: 30px 0;
  font-size: 13px;
}


/*
  .monster-planner-party-member
    .party-member-profile      
      .creature-sprite-container
      .party-member-stats
      .party-member-class (underneath)
    .party-member-traits
      .trait-slot
        .trait-slot-clickable
        .trait-slot-controls
*/

.monster-planner-party-member {

  z-index: 50;
  position: relative;
  //border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;    
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ccc;
  box-shadow: 2px 2px 6px -4px rgba(0, 0, 0, 0.9);
  padding: 1px;


  transition: background 0.2s ease;


  &.cls-chaos {
    background: rgba($color-chaos, 0.5);
  }
  &.cls-death {
    background: rgba(lighten($color-death, 30), 0.4);
  }
  &.cls-sorcery {
    background: rgba($color-sorcery, 0.4);
  }
  &.cls-life {
    background: rgba(darken($color-life, 5), 0.5);
  }
  &.cls-nature {
    background: rgba($color-nature, 0.5);
  }

}

.party-member-profile {
    width: 12%;
    height: 100%;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    //color: white;
   
}

.party-member-traits {
    width: 88%;
    padding: 0 8px;
}

.creature-sprite-container {
    margin-right: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .creature-sprite {
      width: 100%;
      height: 100%;
      background-size: 100%;
      image-rendering: pixelated;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.empty {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }
    &.empty:before {
      content: "?";
      font-size: 32px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;

    }
    @media(max-width: 1280px) {
      left: -4px;
    }
}

.party-member-stats {
  margin-left: 8px;
  &.empty {
    color: #999;
  }
  > span {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:nth-child(even) {
    //   background: rgba(0, 0, 0, 0.05);
    // }
    span {
      min-width: 24px;
    }

    img {
      margin-right: 10px;
    }
  }
}

.party-member-class {
  width: 100%;
  min-height: 22px;

  flex-basis: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  padding: 4px 0;
  padding-bottom: 0;
  //border-top: 2px solid rgba(0, 0, 0, 0.05);
  .cls-icon {
    margin-right: 5px;
  }  
  
}


.trait-slot {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  margin: 4px 0;

}


.trait-slot-controls {
  width: 48px;
  padding: 0 5px;
  button {
    background: none;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    line-height: 18px;
    &:hover {
      color: white;
    }
  }
}

.trait-slot-clickable {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.35);
  padding: 10px 2px;
  transition: background 0.2s ease;
  border-radius: 3px;
  color: #111;

  .empty-row {
    text-align: center;
    opacity: 0.6;
    width: 100%; 
  }

  &:hover:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.45);
    content: " ";
  }

  .trait-slot-class {
    width: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trait-slot-family {
    width: 8%;
  }
  .trait-slot-creature {
    width: 8%;
  }
  .trait-slot-trait_name {
    width: 11%;
  }
  .trait-slot-trait_description {
    width: 70%;
  }



  &.just-updated {
    background: rgba(255, 255, 255, 0.6);
  }



}