@import 'mixins.scss';


#monster-planner {
  font-size: 13px;
  width: 100%;
  padding: 20px 60px;
  position: relative;
}


/*
  .monster-planner-party-member
    .party-member-profile      
      .creature-sprite-container
      .party-member-stats
      .party-member-class (underneath)
    .party-member-traits
      .trait-slot
        .trait-slot-clickable
        .trait-slot-controls
*/

.monster-planner-party-member {

  z-index: 50;
  position: relative;
  //border: 2px solid #ddd;
  //border-radius: 5px;
  margin-bottom: 7px;    
  border: 2px solid rgba(0, 0, 0, 0.3);
  //border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  //background: #444;
  //box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
  padding: 0px;


  transition: background 0.2s ease;
  &.cls-chaos {
    background: saturate(rgba($color-chaos, 0.15), 20);
    border-color: saturate(rgba(darken($color-chaos, 15), 0.3), 10);
  }
  &.cls-death {
    background: saturate(rgba(lighten($color-death, 30), 0.15), 10);
    border-color: saturate(rgba(darken($color-death, 10), 0.3), 10);
  }
  &.cls-sorcery {
    background: saturate(rgba($color-sorcery, 0.15), 20);
    border-color: rgba(darken($color-sorcery, 30), 0.3);
  }
  &.cls-life {
    background: saturate(rgba(darken($color-life, 15), 0.22), 20);
    border-color: saturate(rgba(darken($color-life, 54), 0.3), 30);
  }
  &.cls-nature {
    background: saturate(rgba($color-nature, 0.15), 27);
    border-color: saturate(rgba(darken($color-nature, 25), 0.3), 20);
  }

}

.party-member-profile {
    width: 12%;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    //border-right: 2px solid rgba(0, 0, 0, 0.08);
    //border-top-left-radius: 5px;
    //dborder-bottom-left-radius: 5px;
    //border-radius: 5px;
    //color: white;
    transition: background 0.2s ease;
    background: rgba(0, 0, 0, 0.15);
    &.cls-chaos {
      background: rgba($color-chaos, 0.3);
    }
    &.cls-death {
      background: rgba(lighten($color-death, 30), 0.3);
    }
    &.cls-sorcery {
      background: rgba($color-sorcery, 0.4);
    }
    &.cls-life {
      background: rgba(darken($color-life, 5), 0.5);
    }
    &.cls-nature {
      background: rgba($color-nature, 0.5);
    }
}

.party-member-traits {
    align-self: stretch;
    width: 88%;
    //padding: 4px 8px;
    //background: rgba(0, 0, 0, 0.2);
    //border-top-right-radius: 5px;
    //border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.creature-sprite-container {
    margin-right: 8px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .creature-sprite {
      width: 100%;
      height: 100%;
      background-size: 100%;
      image-rendering: pixelated;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.empty {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }
    &.empty:before {
      content: "?";
      font-size: 32px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;

    }
    @media(max-width: 1280px) {
      left: -4px;
    }
}

.party-member-stats {
  margin-left: 8px;
  &.empty {
    color: rgba(0, 0, 0, 0.3);
  }
  > span {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:nth-child(even) {
    //   background: rgba(0, 0, 0, 0.05);
    // }
    span {
      min-width: 24px;
    }

    img {
      margin-right: 7px;
      margin-top: 1px;
    }
  }
}

.party-member-class {
  width: 100%;
  min-height: 22px;

  flex-basis: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 1px 0;
  padding-bottom: 0;
  //border-top: 2px solid rgba(0, 0, 0, 0.05);
  .cls-icon {
    margin-right: 5px;
  }  
  
}


.trait-slot {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  //margin: 4px 0;

}

.trait-slot-error {
  svg {
    margin-right: 5px;
  }
}

.trait-slot-controls {
  width: 48px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  //padding: 0 5px;
  button {
    background: none;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    line-height: 18px;
    border-radius: 0;
    &:hover {
      color: white;
    }
  }
}

.trait-slot:not(:last-child) {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.trait-slot:nth-child(even) {
  //background: rgba(255, 255, 255, 0.1);
}

.trait-slot-clickable {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  //background: rgba(255, 255, 255, 0.4);

  padding: 11px 2px;
  transition: background 0.2s ease;
  //border-radius: 3px;
  color: #111;

  .empty-row {
    text-align: center;
    opacity: 0.7;
    width: 100%; 
  }

  > * {
    padding: 0 4px;
  }

  // &:hover:before {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   box-sizing: border-box;
  //   background: rgba(255, 255, 255, 0.2);
  //   content: " ";
  //   border-radius: 3px;
  // }

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .trait-slot-class {
    width: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .trait-slot-family {
    width: 8%;
  }
  .trait-slot-creature {
    width: 8%;
  }
  .trait-slot-trait_name {
    width: 11%;
  }
  .trait-slot-trait_description {
    width: 70%;
  }



  &.just-updated {
    background: rgba(255, 255, 255, 0.4);
  }

  &.invalid-row {
    
    color: darken($color-chaos, 5);
    //background: rgba($color-chaos, 0.1);
    background-image: url('../images/error-stripes-2.png');

  }



}