@import 'mixins.scss';


#monster-planner {
  font-size: 13px;
  width: 100%;
  padding: 15px 60px;
  position: relative;
  margin-bottom: 20px;
}


/*
  .monster-planner-party-member
    .party-member-profile      
      .creature-sprite-container
      .party-member-stats
      .party-member-class (underneath)
    .party-member-traits
      .trait-slot
        .trait-slot-clickable
        .trait-slot-controls
*/

.monster-planner-party-member {

  z-index: 50;
  position: relative;
  //border: 2px solid #ddd;
  //border-radius: 5px;
  margin-bottom: 9px;    
  //border: 2px solid rgba(0, 0, 0, 0.3);
  //border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #eee;
  box-shadow: 1px 1px 6px -4px rgba(0, 0, 0, 0.95);
  padding: 0px;

  @media(max-width: 1720px) {
    .party-member-profile {
      width: 20%;
    }
    .party-member-traits {
      width: 80%;
    }
  }

  @media(max-width: 1280px) {
    display: block;
    .party-member-profile {
      width: 100%;
    }
    .party-member-traits {
      width: 100%;
      .trait-slot .trait-slot-clickable {
        flex-wrap: wrap;
        justify-content: center;
      }
      .trait-slot .trait-slot-clickable > * {
        width: auto;
        padding: 0 20px;
      }
      .trait-slot .trait-slot-clickable .trait-slot-trait_description {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
  @media(max-width: 992px) {
    .party-member-traits {
      .trait-slot .trait-slot-clickable {
        display: block;
      }
      .trait-slot .trait-slot-clickable .trait-slot-class {
        text-align: left;
        justify-content: left;
      }
      .trait-slot .trait-slot-clickable > *:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
  
  // &.cls-chaos {
  //   //background: saturate(rgba($color-chaos, 0.15), 20);
  //   border-color: saturate(rgba(darken($color-chaos, 15), 0.5), 10);
  // }
  // &.cls-death {
  //   //background: saturate(rgba(lighten($color-death, 30), 0.15), 10);
  //   border-color: saturate(rgba(darken($color-death, 10), 0.5), 10);
  // }
  // &.cls-sorcery {
  //   //background: saturate(rgba($color-sorcery, 0.15), 20);
  //   border-color: rgba(darken($color-sorcery, 30), 0.5);
  // }
  // &.cls-life {
  //   //background: saturate(rgba(darken($color-life, 15), 0.22), 20);
  //   border-color: saturate(rgba(darken($color-life, 44), 0.5), 30);
  // }
  // &.cls-nature {
  //   //background: saturate(rgba($color-nature, 0.15), 27);
  //   border-color: saturate(rgba(darken($color-nature, 15), 0.5), 20);
  // }

}

.party-member-profile {
    width: 16%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    transition: background 0.2s ease;
    position: relative;
    
    //border-right: 2px solid rgba(0, 0, 0, 0.15);
    //border-top-left-radius: 5px;
    //dborder-bottom-left-radius: 5px;
    //border-radius: 5px;
    //color: white;
    transition: background 0.2s ease;
    background: rgba(0, 0, 0, 0.15);
    mix-blend-mode: multiply;
    &.cls-chaos {
      background: rgba($color-chaos, 0.3);
      .party-member-relic-slot {
        border-color: rgba($color-chaos, 0.3);
      }
    }
    &.cls-death {
      background: rgba(lighten($color-death, 30), 0.3);
      .party-member-relic-slot {
        border-color: rgba($color-death, 0.4);
      }
    }
    &.cls-sorcery {
      background: rgba($color-sorcery, 0.4);
      .party-member-relic-slot {
        border-color: rgba($color-sorcery, 0.5);
      }
    }
    &.cls-life {
      background: rgba(darken($color-life, 5), 0.5);
      .party-member-relic-slot {
        border-color: rgba(darken($color-life, 25), 0.5);
      }
    }
    &.cls-nature {
      background: rgba($color-nature, 0.5);
      .party-member-relic-slot {
        border-color: rgba(darken($color-nature, 15), 0.5);
      }
    }
}

.party-member-traits {
    align-self: stretch;
    width: 84%;
    //padding: 4px 8px;
    //background: rgba(0, 0, 0, 0.2);
    //border-top-right-radius: 5px;
    //border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.party-member-relic-slot {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    transform: translate(1px, 1px);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba($primary-color, 0.7) !important;
  }

  .relic-sprite {
    width: 32px;
    height: 32px;
    background-size: 100%;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
  }

  // &:after {
  //   width: 100%;
  //   height: 50%;
  //   top: 50%;
  //   left: 0;
  //   position: absolute;
  //   content: " ";
  //   background: rgba(0, 0, 0, 0.04);
  //   z-index: 100;

  // }
}

.creature-sprite-container {

    margin-right: 8px;
    margin-left: 64px; // Extra for the relic
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .creature-sprite {
      width: 100%;
      height: 100%;
      background-size: 100%;
      image-rendering: pixelated;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.empty {
      //background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
    }
    &.empty:before {
      content: "?";
      font-size: 32px;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;

    }
    @media(max-width: 1280px) {
      left: -4px;
    }
}

.party-member-stats {
  margin-left: 8px;
  padding: 3px 0;
  &.empty {
    color: rgba(0, 0, 0, 0.3);
  }
  > span {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    // &:nth-child(even) {
    //   background: rgba(0, 0, 0, 0.05);
    // }
    span {
      min-width: 24px;
    }

    img {
      margin-right: 7px;
      margin-top: 1px;
    }
  }
}

.party-member-class {
  width: 100%;
  height: 30px;


  flex-basis: 100%;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 1px 0;
  //padding-left: 40px; // +40 for the relic
  //border-top: 2px solid rgba(0, 0, 0, 0.2);
  .cls-icon {
    margin-right: 5px;
  }  
  background: rgba(0, 0, 0, 0.1);
  
}


.trait-slot {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  min-height: 42px;
  //margin: 4px 0;

}

.trait-slot-error {
  svg {
    margin-right: 5px;
  }
}

.trait-slot-controls {
  width: 48px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  //padding: 0 5px;
  button {
    background: none;
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    line-height: 18px;
    border-radius: 0;
    &:hover {
      color: white;
    }
  }
}

.trait-slot:not(:last-child) {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
}
.trait-slot:nth-child(even) {
  //background: rgba(255, 255, 255, 0.1);
}

.trait-slot-clickable {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  //background: rgba(255, 255, 255, 0.4);

  padding: 9px 2px;
  transition: background 0.2s ease;
  //border-radius: 3px;
  color: #111;

  .empty-row {
    text-align: center;
    opacity: 0.7;
    width: 100%; 
  }

  > * {
    padding: 0 4px;
  }

  // &:hover:before {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   box-sizing: border-box;
  //   background: rgba(255, 255, 255, 0.2);
  //   content: " ";
  //   border-radius: 3px;
  // }


  &.artifact-slot {
    .trait-slot-class, .trait-slot-family, .trait-slot-creature {
      opacity: 0.2;
    }
  }

  .trait-slot-class {
    width: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .trait-slot-creature {
    width: 14%;
  }
  .trait-slot-trait_name {
    width: 14%;
  }
  .trait-slot-trait_description {
    width: 72%;
  }

  &.just-updated {
    background: lighten(rgba($primary-color, 0.2), 25);
  }

  &:hover {
    background: lighten(rgba($primary-color, 0.15), 25); //rgba(255, 255, 255, 0.6);
  }

  &.invalid-row {
    color: darken($color-chaos, 5);
    //background: rgba($color-chaos, 0.1);
    background-image: url('../images/error-stripes-2.png');
  }

}

#relic-perks-table {
  width: 100%;
  td:first-child, th:first-child {
    width: 6%;
    text-align: center;
  }
}

.relic-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 0;
  margin-top: -12px;
  vertical-align: middle;
}

.specialization-selection.relic-selection {
  .specialization-selection-nav {
    width: 25%;
  }
}


.relic-stat-icon {
  margin-right: 4px;
  transform: translate(0px, 1px);
}
.relic-name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px dotted rgba( 0, 0, 0, 0.1);
  margin-bottom: 10px;
  .relic-name-header-name {
    h5 {
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.7);
      margin-top: -15px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
  }
  .relic-name-header-button button {

    margin-right: 20px;
    padding: 15px 30px;
    margin-top: -5px;
    svg {
      margin-right: 10px;
    }

    &.selected {
      background: $color-nature;
      &:hover {
        background: lighten($color_nature, 5);
      }
    }
  }
}
