$cols: (
  "AN": #222,
  "AS": rgba(15, 15, 211),
  "BM": #ed1a0c,
  "CA": #8362bd,
  "CL": #ffe481,
  "DE": #add349,
  "DO": #502274,
  "DR": #6c6875,
  "DS": #c18ce1,
  "EV": #c66cf4,
  "FA": #ffe265,
  "GR": #831c7b,
  "HK": #9e0404,
  "IN": #924b2c,
  "MO": #74af3e,
  "NM": #665e4a,
  "PA": #a6a9d3,
  "PM": #db6500,
  "PU": #59595f,
  "RE": #c8c9de,
  "RK": #4e4e9d,
  "RO": #e5be15,
  "SM": #8f958e,
  "SO": #6f6fd3,
  "SP": #848fe6,
  "TB": #45d090,
  "TR": #ed1a1a,
  "WA": #77c4b5,
  "WD": #c2b79f,
  "WR": #4461e5,
);

@each $abrv, $col in $cols {
  .spe-#{$abrv}:after {
    
  }
  #specialization-planner.spe-#{$abrv} {
    background: rgba($col, 0.16);
    border: 4px solid $col;
    border-right: 4px solid rgba(darken($col, 10), 0.7);
    border-bottom: 4px solid rgba(darken($col, 10), 0.7);
    .toggle-bar {
      &:hover { background: rgba(darken($col, 10), 0.7); }
    }
    .specialization-selection button {
      background: rgba(darken($col, 15), 0.7);
      &:hover {
        background: rgba(darken($col, 5), 0.7);
      }
    }
  }
}

#specialization-planner {

  position: relative;
  color: #222;
  background: #ddd;
  width: 25%;
  padding: 20px 36px;
  padding-left: 20px;
  transition: margin 0.2s ease;
  //box-shadow: 1px 1px 4px -3px rgba(0, 0, 0, 0.9);
  z-index: 1;
  box-sizing: border-box;







  p {
    line-height: 140%;
    font-size: 14px;
  }

  &.hide {
    margin-left: calc(-25% + 32px);
  }

  select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 2px solid #bbb;
    border-radius: 3px;

  }

  .toggle-bar {
    z-index: 100;
    //border-right: 2px solid rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.6);
    user-select: none;
    &:active svg {
      transform: translate(0px, 1px);
    }
    &:hover {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        content: " ";
      }
      color: rgba(0, 0, 0, 0.95);
    }
  }
  &.hide .toggle-bar {
    width: 32px;
  }
}

span.option-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100%;
  margin-right: 8px;
}
.value-container {
  caret-color: transparent;
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: no-wrap !important;
  span.option-icon {
    display: block;
  }
}

.specialization-selection {
  display: flex;
  margin-bottom: 20px;
  > div {
    flex: 1;

    > div {
      border-width: 2px;
      //border-color: rgba(0, 0, 0, 0.4) !important;
    }
  }
  button {
    margin-left: 5px;
  }


  button.grey-button {
    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: multiply;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    width: 48px;

    text-align: center;
    padding: 5px 10px;
    height: auto;
  }
}

#perks-table {
  th:nth-child(1), td:nth-child(1) {
    width: 12%;
  }
  th:nth-child(2), td:nth-child(2) {
    width: 10%;
    text-align: center;
  }
}

.flavour-text {
  p {
    margin: 0;
    font-style: italic;
    padding: 5px 0;
  }
  h4 {
    margin: 0;
    margin-bottom: 10px;
  }
  font-size: 14px;
  margin-top: 20px;
  border-top: 2px dotted rgba( 0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px 0px;
}

.anointments-list {
  font-size: 14px;
}

.anointment-slot-clickable {
  cursor: pointer;
}
.anointment {
  .anointment-name-and-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .anointment-name {
      font-weight: bold;
    }
    
    .anointment-source {
      display: inline-block;
      margin-left: 10px;
      font-weight: normal;
      .option-icon {
        transform: translate(0px, 3px);
        margin-right: 1px;
      }
    }
  }
  .anointment-desc {

  }
}